doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script (src="http://hahahaha.nko3.jitsu.com/50a1c5add82d6d91e10004ae.js")
